html,
body {
  margin: 0;
  padding: 0;
}

.text {
  font-family: "Noto Sans Jp", sans-serif;
  font-size: 18px;
  line-height: 15px;
  color: #ffffff;
}

.text_smaller {
  font-size: 14px;
}

.container {
  width: 70%;
  height: 100%;
  margin: 20px auto 0 auto;
  text-align: center;
}
.container .textarea-wrapper {
  padding: 20px;
  background-color: #181818;
  border-radius: 5px;
}
.container .textarea-wrapper .textarea-wrapper__textarea {
  width: 98%;
  height: 300px;
  font-family: "Nunito";
  font-size: 20px;
}
.container .keyboard {
  padding: 30px;
  background-color: #363636;
  border-radius: 6px;
}
.container .keyboard .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.container .keyboard .row:first-child {
  margin-top: 0;
}
.container .keyboard .row .btn-key {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #181818;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.05) -1px -1px 4px 2px;
}
.container .keyboard .row .btn-key:hover {
  filter: contrast(1.2);
}
.container .keyboard .row .btn-key_active {
  background-color: #2c528b;
}
.container .keyboard .row .btn-key-letter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .keyboard .row .btn-key-double-symbol {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .keyboard .row .btn-key-double-symbol .symbol-upper {
  position: absolute;
  top: 6px;
  left: 6px;
}
.container .keyboard .row .btn-key-big {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 0 10px;
}
.container .keyboard .row .btn-key-word-with-space {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 25px;
}
.container .keyboard .row .btn-key-word-with-space_right-shift {
  padding: 0 42px;
}
